.body {
    font-size: 14px;
}

.Container_maincontent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Logo-Google { 
    margin-top: 4rem;
   max-height: 92px;
   margin-bottom: 2rem;
}

.searchbar_container {
    border: 1px #dfe1e5 solid;
    border-radius: 24px;
    padding-left: 20px;
    height: 44px;
    width: 35rem;
    display: flex;
    flex-direction: row;
}

.searchbar_container:hover {
    box-shadow: 0 0 5px rgba(32,33,36,.28);
}

.searchbar-icon {
    display: inline-block;
    color: #9aa0a6;
    height: 20px;
    width: 20px;
    fill: currentColor;
    margin-top: 12px;
}

.searchbar-icon:hover {
    cursor:pointer;
}

.Icon_Search {
    width: 20px;
    height: 20px;
    opacity: 0.4;
}

#searchbar {
    padding-left: 0.5rem;
    width: 32rem;
    height: 42px;
    border: transparent;
}

#searchbar:focus {
    outline: none;
}


